body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em; 
}

.header {
    background: #fff;
    width: 100%;
}

.js .header {
    /* position: fixed; */
    width: 100%;
}

.logo-text {
    text-transform: uppercase;
    background-color: #63c6ae;
    font-size: 2rem;
    padding: 20px;
    margin: 0px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    float: left; 
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.logo-text:hover {
    color: #000021;
    background-color: rgba(218, 211, 211, 0.1);
}

.header__nav {
    clear: left;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.header__nav ul {
    margin: 0;
    padding: 0;

}

.header__nav li {
    list-style-type: none;
    background: #242c2c;
    text-align: center;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.header__nav a {
    color: white;
    text-transform: uppercase;
    color: #586165;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 48px 0;
    transition: .5s ease;
}

.header__nav a:hover {
    color: #63c6ae;
}


.hero {
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(45deg, rgb(206, 206, 206) 20%, transparent 50%) ,url(../img/01.jpg);
    background-size: cover;
    border: transparent 1px white;
}

.hero__title {
    background-color: #63c6ae;
    color: white;
    font-size: 1.5rem; 
    font-weight: 600;
    padding: 30px 20px;
    border-radius: 5%;
}

.hero__text {
    background-color: #74a0a0;
    margin: 5px 30px 35px;
    padding: 20px;
    font-size: 1rem;
    border-radius: 5%;
    color: white;
    text-decoration: underline;
}

.hero__btn {
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 900;
    border-radius: 3px;
    padding: 20px;
    border: 0;
    line-height: 1.15;
    font-size: 1rem;
    text-decoration: none;
    color: #63c6ae;
    
    background-color: rgb(189, 189, 189);
    border: 3px solid rgba(0, 0, 0, 0.8);
    display: inline-block;
    color: black;
    transition: .9s ease;
}

.hero__btn:hover {
    color: #000021;
    background-color: rgba(218, 211, 211, 0.1);
}

.header__btnMenu {
    float: right;
    margin: 1.5em;
    background: transparent;
    border: none;
    font-size: 1em;
    color: black;
}

.newbtn{
    float: right;
    margin: 1.5em;
    background: transparent;
    border: none;
    color: black;
}

.people-cards {
    margin-top: 2.5em;
    
}

people-cards__card:hover{
    outline: 5px solid #63c6ae;
    
}

.people-cards__image {
    width: 100%;
}

.people-cards__avatar {
    margin: -55px auto;
    width: 80px;
    height: 80px;
    overflow: hidden;
    
}

.people-cards__content {
    margin-top: 3.5em;
    text-align: center;
    padding: 10px 40px 40px 40px;
}

.people-cards__title {
    color: #737c85;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

.people-cards__text {
    color: #929da5;
    font-size: 1rem;
}

.content {
    background-color: #f8f9f9;
    padding: 20px 0 80px;
    border-top: 1px solid #e3e3e3;
    text-align: justify;
    padding: 2rem;
}

.content h3 {
    padding-top: 20px;
    color: #737c85;
    font-size: 1.5 rem;
    word-spacing: 4px;

}

.content p {
    color: #929da5;
    word-spacing: 4px;
}


.button-button-primary {
    border-radius: 4px;
    padding: 15px 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    background-color: #69c6ae;
    margin-left: 0.8rem;
    transition: .9s ease;
}

.button-button-secundary {
    border-radius: 4px;
    padding: 15px 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    background-color: #455357;
    margin-left: 3rem;
    transition: .9s ease;
}

.button-button-primary:hover {
    background-color: #929da5;
}

.button-button-secundary:hover {
    background-color: #929da5;
}

.last-article__title {
    background-color: #63c6ae;
    padding: 5px 0;
}

.last-article__title h2 {
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

.last-article__thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0;
}

.last-article__thumbs img{
    display: block;
    width: 100%;
}

.laptop {
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.slide {
    white-space: nowrap;
}

.slide figure {
    display: inline-block;
}

.quote-container {
    background-color: #63c6ae;
    padding: 50px 0;
    border-bottom: 12px solid #48b9a1;
}

.quote-slide h2 {
    color: white;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: normal;
}

.quote-slide figcaption {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.no-js .quote-slide figure + figure{
    margin-top: 5em;
}

.footer {
    
    background-color: #242a2c;
    padding-top: 50px 0 250px;
    color: #44646e;
    font-size: 0.8rem;
    border-bottom: 12px solid #48b9a1;
    margin-top: -3rem;
}

.footer__h2 {
    text-align: center;
    display: block;
    
}

.border-footer {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.footer__links li {
    list-style: none;
    text-align: justify;
    
}

.footer__links a {
    color: #44646e;
    display: block;
    font-weight: 600;
    text-decoration: dashed;
    text-align: center;
}






@media screen and (min-width: 1024px) {
    .header{
        position: fixed;
    }


    .logo-text {
        width: 25%;
        box-sizing: border-box;
    }

    .header__btnMenu {
        display: none;
    }

    .header__nav {
        float: left;
        width: 74%;
        clear: none;
       
    }

    .header__nav ul {
        display: flex;
        justify-content: space-around;
    
    }

    .header__nav li {
        border: none;
        flex-grow: 1;
    }

    .header__nav a{
        background-color: white;
    }

    .header__nav a:hover {
        border-bottom: 5px solid #929da5;
}



    .logo-text {
        padding: 40px;
        text-align: center;
}

    .people-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
}

    .hero {
        text-align: justify;
    }

    .hero h1 {
        margin-top: 10rem;
    }

    .content .container {
        display: grid;
        grid-template-columns: (1fr, 1fr);
        grid-gap: 30px;
    }


    .button-button-primary {
        margin-left: 33%;
    }

    .button-button-secundary {
        justify-content: center;
    }

    .footer__h2 {
        padding-top: 1em;
        
    }

    .footer .container > * {
        margin-top: 2em;
        text-align: center;
        align-items: center;
    }










}